.cnMainPageRottBackendd {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cnMainPageCardBody {
    margin-bottom: 10px;

}
.cnMainLOaderContainer {
    display: flex;
     align-items:center;
     justify-content: center;


}
